{% extends 'base.html' %}
{% block subtitle %}
    <center> Certificado </center>
{% endblock subtitle %}
{% block conteudo %}
<h3>Certificado</h3><br>
    {% for dados in part %}
        {% if dados.situacaoIntegrante == "Apresentou" %}
		  Certificado em PDF: <a href="/emitir/{{dados.codIntegrante}}/">{{ dados.nomeIntegrante }}   </a><br><br>
		{% endif %}
	{% endfor %}
    <p><a href="/principal_certificado"><input id="botao" type="button" name="Submit" value="Certificados"></a></p>
{% endblock %}
